#left-panel {
	position:absolute;
	left:510px;
	top:70px;
}

#timer {
	color:red;
	font-size:26px;
}

button {
	margin-top:20px;
}

#start-new-game {
	top:200px;
	left:200px;
	font-size:30px;
	position:absolute;
	display:none;
}