@font-face { 
	font-family:Weston; src: url('../font/westonfree.otf');
} 

body {
	background:url("../img/bg.png");
}

#main-surface {
	
}

#left-panel {
	padding-top:40px;
	position:absolute;
	left:621px;
	top:70px;
	width:265px;
}

#timer {
	color:white;
	font-size:60px;
	font-family: Weston; 
	text-align:center;
	display:block;
}

#timer-img {
	display:block;
	margin:auto;
	margin-bottom:15px;
}

button {
	margin-top:20px;
}

.s-button, .m-button, .l-button {
	border:0;
	text-indent:-10000px;
	cursor:pointer;
}

.s-button {
	background:url("../img/s-btn.png") no-repeat;
	width:54px;
	height:60px;
}

.m-button {
	background:url("../img/m-btn.png") no-repeat;
	width:70px;
	height:74px;
}

.l-button {
	background:url("../img/l-btn.png") no-repeat;
	width:80px;
	height:82px;
}

#start-new-game {
	height:110px;
	background:url("../img/arrows.png") no-repeat;
	background-position:right; 
	padding-top:45px;
	padding-right:116px;
	top:200px;
	left:200px;
	font-size:30px;
	position:absolute;
	display:none;
	font-family: MarkerFelt; 
}

#win, #lose {
	font-size:30px;
	display:none;
}

#win {
	left:30px;
	font-size:25px;
}

#highscore {
	font-size:10px;
}

#container {
	padding:18px 0 0 25px;
	margin:70px 0 0 72px;
	width:806px;
	background:url("../img/game-bg.png") no-repeat;
}

#logo {
	text-indent:-5000px;
	position:absolute;
	left:32px;
	top:230px;
	width:48px;
	height:138px;
	background:url("../img/logo-small.png") no-repeat;
}

#restart-button {
	background:url("../img/restart-btn.png") no-repeat;
	border:none;
	width:170px;
	height:33px;
	text-indent:-5000px;
	cursor:pointer;
	display:block;
	margin:auto;
}

#slider {
	display:block;
	background:url("../img/slider.png") no-repeat;
	width:222px;
	height:50px;
	margin:auto;
	position:relative;
	margin-top:15px;
}

.slider-item {
	position:absolute;
	background:url("../img/slider-nonactive.png") no-repeat;
	width:27px;
	height:31px;
	color:#d33469;
	font-family: Weston; 
	font-weight:bold;
	padding:12px 0 0 7px;
	cursor:pointer;
}

.slider-item.s {
	top:30px;
	left:4px;
}

.slider-item.m {
	top:30px;
	left:97px;
}

.slider-item.l {
	top:30px;
	right:-2px;
}

.slider-item.active {
	background:url("../img/slider-active.png") no-repeat;
	color:#aa2753;
	top:25px;
}

#slider-handle {
	position:relative;
	top:4px;
	left:10px;
	width:186px;
}

.weston {
	display:block;
	text-align:center;
	color:#fff;
	font-family: Weston;
	font-size:10px;
}
